<!-- Footer-->
<footer class="bg-black text-center py-5">
	<div class="container px-5">
		<div class="text-white-50 small">
			<div class="mb-2">ShortLink 2021. With ❤ and
				<img src="{{ asset('dist/assets/img/symfony.png') }}" alt="Symfony" width="24" height="24">
				by
				<a href="https://www.citizenz.info">citizenz7</a>
			</div>
		</div>
	</div>
</footer>
